.modal-title {
  color: var(--button-contract-tab-default, #878FAA);
  font-family: Outfit;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modal-header, .modal-footer {
  border:none;
}

.outer-modal-body {
  border-radius: 0.625rem;
  background: #EFF2FE;
  display: flex;
  padding: 0.9375rem 1.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.inner-modal-body {
  background-color: #fff;
  display: flex;
  padding: 0.9375rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.modal-body {
  color: #878FAA;
}